 .u-section-1 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("images/ashirbadmessAdisaptagramHooghlycollegefreshersparty2023.jpg");
   background-position: 50% 50%;
 }

 .u-section-1 .u-sheet-1 {
   min-height: 766px;
 }

 .u-section-1 .u-text-1 {
   font-size: 3.75rem;
   text-shadow: 2px 7px 7px rgba(26, 26, 26, 1);
   margin: 556px 0 0;
 }

 .u-section-1 .u-btn-1 {
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 1px;
   background-image: none;
   box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
   margin: -25px 78px 54px auto;
   padding: 12px 46px 12px 45px;
 }

 @media (max-width: 1199px) {
   .u-section-1 {
     background-position: 19.23% 39.48%;
     background-size: 125%;
   }

   .u-section-1 .u-sheet-1 {
     min-height: 632px;
   }

   .u-section-1 .u-btn-1 {
     margin-right: 0;
   }
 }

 @media (max-width: 991px) {
   .u-section-1 {
     background-position: 52.71% 54.59%;
     background-size: auto 125%;
   }

   .u-section-1 .u-sheet-1 {
     min-height: 731px;
   }

   .u-section-1 .u-text-1 {
     width: auto;
     margin-top: 455px;
   }

   .u-section-1 .u-btn-1 {
     margin-top: 21px;
     margin-bottom: 9px;
   }
 }

 @media (max-width: 767px) {
   .u-section-1 {
     background-position: 58.36% 57.11%;
   }

   .u-section-1 .u-sheet-1 {
     min-height: 635px;
   }

   .u-section-1 .u-text-1 {
     font-size: 3rem;
     margin-top: 407px;
   }

   .u-section-1 .u-btn-1 {
     margin-top: 10px;
     margin-bottom: 10px;
   }
 }

 @media (max-width: 575px) {
   .u-section-1 .u-sheet-1 {
     min-height: 356px;
   }

   .u-section-1 .u-text-1 {
     font-size: 1.875rem;
     margin-top: 186px;
   }

   .u-section-1 .u-btn-1 {
     margin-top: 23px;
     margin-bottom: 9px;
     padding: 11px 19px 13px 17px;
   }
 }

 .u-section-2 {
   background-image: none;
 }

 .u-section-2 .u-sheet-1 {
   min-height: 2902px;
 }

 .u-section-2 .u-group-1 {
   width: 868px;
   min-height: 122px;
   height: auto;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
   margin: 11px 125px 0 auto;
 }

 .u-section-2 .u-container-layout-1 {
   padding-left: 30px;
   padding-right: 30px;
 }

 .u-section-2 .u-text-1 {
   text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
   margin: 36px 0 0;
 }

 .u-section-2 .u-image-1 {
   width: 1117px;
   height: 789px;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
   text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
   transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
   margin: 13px 0 0 auto;
 }

 .u-section-2 .u-video-1 {
   height: 430px;
   width: 739px;
   box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
   margin: -227px 55px 0 auto;
 }

 .u-section-2 .u-video-2 {
   height: 430px;
   width: 251px;
   box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
   margin: -430px auto 0 60px;
 }

 .u-section-2 .u-image-2 {
   height: 828px;
   margin-top: 20px;
   margin-bottom: 0;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
   text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
   transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
 }

 .u-section-2 .u-image-3 {
   height: 824px;
   margin-top: 47px;
   margin-bottom: 47px;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
   text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
   transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
 }

 @media (max-width: 1199px) {
   .u-section-2 .u-sheet-1 {
     min-height: 2778px;
   }

   .u-section-2 .u-group-1 {
     margin-right: 73px;
     height: auto;
   }

   .u-section-2 .u-container-layout-1 {
     padding-top: 0;
     padding-bottom: 0;
   }

   .u-section-2 .u-image-1 {
     width: 940px;
     height: 664px;
   }

   .u-section-2 .u-video-1 {
     margin-top: -102px;
   }
 }

 @media (max-width: 991px) {
   .u-section-2 .u-sheet-1 {
     min-height: 2861px;
   }

   .u-section-2 .u-group-1 {
     width: 720px;
     margin-right: 0;
   }

   .u-section-2 .u-image-1 {
     width: 720px;
     height: 509px;
   }

   .u-section-2 .u-video-1 {
     height: 304px;
     width: 522px;
     margin-top: -169px;
     margin-right: 0;
   }

   .u-section-2 .u-video-2 {
     margin-top: -202px;
     margin-left: 0;
   }

   .u-section-2 .u-image-2 {
     margin-top: 36px;
   }

   .u-section-2 .u-image-3 {
     margin-top: 56px;
     margin-bottom: 55px;
   }
 }

 @media (max-width: 767px) {
   .u-section-2 .u-group-1 {
     width: 540px;
   }

   .u-section-2 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-image-1 {
     width: 540px;
     height: 382px;
   }

   .u-section-2 .u-video-1 {
     margin-top: -42px;
   }

   .u-section-2 .u-video-2 {
     width: 211px;
   }
 }

 @media (max-width: 575px) {
   .u-section-2 .u-sheet-1 {
     min-height: 1634px;
   }

   .u-section-2 .u-group-1 {
     width: 340px;
   }

   .u-section-2 .u-image-1 {
     width: 340px;
     height: 241px;
     transition-duration: 0.5s;
   }

   .u-section-2 .u-video-1 {
     height: 198px;
     margin-top: 37px;
     margin-right: initial;
     margin-left: initial;
     width: auto;
   }

   .u-section-2 .u-video-2 {
     height: 339px;
     width: 197px;
     margin-top: 26px;
   }

   .u-section-2 .u-image-2 {
     height: 282px;
     margin-top: 20px;
     transition-duration: 0.5s;
     --animation-custom_in-translate_x: 50px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 180deg;
     --animation-custom_in-scale: 0.3;
   }

   .u-section-2 .u-image-3 {
     height: 258px;
     margin-top: 23px;
     margin-bottom: 60px;
     transition-duration: 0.5s;
     --animation-custom_in-translate_x: 50px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 180deg;
     --animation-custom_in-scale: 0.3;
   }
 }

 .u-section-2 .u-image-1,
 .u-section-2 .u-image-1:before,
 .u-section-2 .u-image-1>.u-container-layout:before {
   transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
 }

 .u-section-2 .u-image-1.u-image-1.u-image-1:hover {
   border-style: solid !important;
   border-top-width: 2px !important;
   border-left-width: 2px !important;
   border-right-width: 2px !important;
   border-bottom-width: 2px !important;
   border-color: #404040 !important;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
   transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
   text-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
 }

 .u-section-2 .u-image-1 {
   border-style: solid !important;
 }

 .u-section-2 .u-image-1.u-image-1.u-image-1.hover {
   border-style: solid !important;
   border-top-width: 2px !important;
   border-left-width: 2px !important;
   border-right-width: 2px !important;
   border-bottom-width: 2px !important;
   border-color: #404040 !important;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
   transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
   text-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
 }

 .u-section-2 .u-image-1 {
   border-style: solid !important;
 }

 .u-section-2 .u-container-layout:hover .u-image-1 {
   transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
 }

 .u-container-layout.hover .u-section-2 .u-image-1 {
   transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
 }

 .u-section-2 .u-image-2,
 .u-section-2 .u-image-2:before,
 .u-section-2 .u-image-2>.u-container-layout:before {
   transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
 }

 .u-section-2 .u-image-2.u-image-2.u-image-2:hover {
   border-style: solid !important;
   border-top-width: 2px !important;
   border-left-width: 2px !important;
   border-right-width: 2px !important;
   border-bottom-width: 2px !important;
   border-color: #404040 !important;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
   transform: scale(1) translateY(px) !important;
   text-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
 }

 .u-section-2 .u-image-2 {
   border-style: solid !important;
 }

 .u-section-2 .u-image-2.u-image-2.u-image-2.hover {
   border-style: solid !important;
   border-top-width: 2px !important;
   border-left-width: 2px !important;
   border-right-width: 2px !important;
   border-bottom-width: 2px !important;
   border-color: #404040 !important;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
   transform: scale(1) translateY(px) !important;
   text-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
 }

 .u-section-2 .u-image-2 {
   border-style: solid !important;
 }

 .u-section-2 .u-container-layout:hover .u-image-2 {
   transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
 }

 .u-container-layout.hover .u-section-2 .u-image-2 {
   transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
 }

 .u-section-2 .u-image-3,
 .u-section-2 .u-image-3:before,
 .u-section-2 .u-image-3>.u-container-layout:before {
   transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
 }

 .u-section-2 .u-image-3.u-image-3.u-image-3:hover {
   border-style: solid !important;
   border-top-width: 2px !important;
   border-left-width: 2px !important;
   border-right-width: 2px !important;
   border-bottom-width: 2px !important;
   border-color: #404040 !important;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
   transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
   text-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
 }

 .u-section-2 .u-image-3 {
   border-style: solid !important;
 }

 .u-section-2 .u-image-3.u-image-3.u-image-3.hover {
   border-style: solid !important;
   border-top-width: 2px !important;
   border-left-width: 2px !important;
   border-right-width: 2px !important;
   border-bottom-width: 2px !important;
   border-color: #404040 !important;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
   transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
   text-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
 }

 .u-section-2 .u-image-3 {
   border-style: solid !important;
 }

 .u-section-2 .u-container-layout:hover .u-image-3 {
   transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
 }

 .u-container-layout.hover .u-section-2 .u-image-3 {
   transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
 }

 .u-section-3 {
   background-image: linear-gradient(#333333, #3d4c6f);
   min-height: 542px;
 }

 .u-section-3 .u-shape-1 {
   height: 358px;
   margin-top: 0;
   margin-bottom: 0;
 }

 .u-section-3 .u-layout-wrap-1 {
   width: 1140px;
   margin: -320px auto 50px;
 }

 .u-section-3 .u-layout-cell-1 {
   min-height: 480px;
   background-position: 50% 50%;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   background-size: auto 145%;
 }

 .u-section-3 .u-image-1 {
   background-image: url("images/ashirbadmessAdisaptagramHooghlycollegefreshersparty2023madam.jpg");
 }

 .u-section-3 .u-container-layout-1 {
   padding: 30px;
 }

 .u-section-3 .u-layout-cell-2 {
   min-height: 480px;
   background-position: 50% 50%;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: -300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   background-size: auto 150%;
 }

 .u-section-3 .u-image-2 {
   background-image: url("images/ashirbadmessAdisaptagramHooghlycollegefreshersparty2023somvouda.jpg");
 }

 .u-section-3 .u-container-layout-2 {
   padding: 30px;
 }

 .u-section-3 .u-image-3 {
   min-height: 480px;
   background-image: url("images/ashirbadmessAdisaptagramHooghlycollegefreshersparty2023pic3.jpg");
   background-position: 50% 50%;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-3 .u-container-layout-3 {
   padding: 30px 0;
 }

 @media (max-width: 1199px) {
   .u-section-3 {
     min-height: 488px;
   }

   .u-section-3 .u-shape-1 {
     height: 303px;
   }

   .u-section-3 .u-layout-wrap-1 {
     width: 940px;
     margin-top: -230px;
     margin-bottom: 45px;
   }

   .u-section-3 .u-layout-cell-1 {
     min-height: 396px;
   }

   .u-section-3 .u-layout-cell-2 {
     min-height: 396px;
   }

   .u-section-3 .u-image-3 {
     min-height: 396px;
   }
 }

 @media (max-width: 991px) {
   .u-section-3 {
     min-height: 714px;
   }

   .u-section-3 .u-shape-1 {
     height: 358px;
     margin-top: -55px;
   }

   .u-section-3 .u-layout-wrap-1 {
     width: 720px;
     margin-bottom: 60px;
   }

   .u-section-3 .u-layout-cell-1 {
     min-height: 607px;
   }

   .u-section-3 .u-layout-cell-2 {
     min-height: 607px;
   }

   .u-section-3 .u-image-3 {
     min-height: 607px;
   }
 }

 @media (max-width: 767px) {
   .u-section-3 {
     min-height: 2853px;
   }

   .u-section-3 .u-layout-wrap-1 {
     width: 540px;
   }

   .u-section-3 .u-layout-cell-1 {
     min-height: 911px;
   }

   .u-section-3 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-3 .u-layout-cell-2 {
     min-height: 911px;
   }

   .u-section-3 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-3 .u-image-3 {
     min-height: 911px;
   }
 }

 @media (max-width: 575px) {
   .u-section-3 {
     min-height: 1842px;
   }

   .u-section-3 .u-layout-wrap-1 {
     width: 340px;
   }

   .u-section-3 .u-layout-cell-1 {
     min-height: 574px;
     --effect-scale: 1.5;
   }

   .u-section-3 .u-layout-cell-2 {
     min-height: 574px;
     --effect-scale: 1.5;
   }

   .u-section-3 .u-image-3 {
     min-height: 574px;
   }
 }

 .u-section-4 {
   background-image: none;
 }

 .u-section-4 .u-sheet-1 {
   min-height: 816px;
 }

 .u-section-4 .u-text-1 {
   margin: 60px auto 0;
 }

 .u-section-4 .u-gallery-1 {
   height: 552px;
   margin-top: 79px;
   margin-bottom: 60px;
   grid-gap: 17px 17px;
 }

 .u-section-4 .u-gallery-inner-1 {
   grid-template-columns: auto auto auto auto auto auto auto auto;
   grid-gap: 10px 10px;
 }

 .u-section-4 .u-gallery-item-1 {
   box-shadow: 2px 2px 8px 0px rgba(26, 26, 26, 1);
 }

 .u-section-4 .u-over-slide-1 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-4 .u-gallery-item-2 {
   box-shadow: 2px 2px 8px 0px rgba(26, 26, 26, 1);
 }

 .u-section-4 .u-over-slide-2 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-4 .u-gallery-item-3 {
   box-shadow: 2px 2px 8px 0px rgba(26, 26, 26, 1);
 }

 .u-section-4 .u-over-slide-3 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-4 .u-gallery-item-4 {
   box-shadow: 2px 2px 8px 0px rgba(26, 26, 26, 1);
 }

 .u-section-4 .u-over-slide-4 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-4 .u-gallery-item-5 {
   box-shadow: 2px 2px 8px 0px rgba(26, 26, 26, 1);
 }

 .u-section-4 .u-over-slide-5 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-4 .u-gallery-item-6 {
   box-shadow: 2px 2px 8px 0px rgba(26, 26, 26, 1);
 }

 .u-section-4 .u-over-slide-6 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-4 .u-gallery-item-7 {
   box-shadow: 2px 2px 8px 0px rgba(26, 26, 26, 1);
 }

 .u-section-4 .u-over-slide-7 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-4 .u-gallery-item-8 {
   box-shadow: 2px 2px 8px 0px rgba(26, 26, 26, 1);
 }

 .u-section-4 .u-over-slide-8 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-4 .u-gallery-item-9 {
   box-shadow: 2px 2px 8px 0px rgba(26, 26, 26, 1);
 }

 .u-section-4 .u-over-slide-9 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-4 .u-gallery-item-10 {
   box-shadow: 2px 2px 8px 0px rgba(26, 26, 26, 1);
 }

 .u-section-4 .u-over-slide-10 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-4 .u-gallery-item-11 {
   box-shadow: 2px 2px 8px 0px rgba(26, 26, 26, 1);
 }

 .u-section-4 .u-over-slide-11 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-4 .u-gallery-item-12 {
   box-shadow: 2px 2px 8px 0px rgba(26, 26, 26, 1);
 }

 .u-section-4 .u-over-slide-12 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-4 .u-gallery-item-13 {
   box-shadow: 2px 2px 8px 0px rgba(26, 26, 26, 1);
 }

 .u-section-4 .u-over-slide-13 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-4 .u-gallery-item-14 {
   box-shadow: 2px 2px 8px 0px rgba(26, 26, 26, 1);
 }

 .u-section-4 .u-over-slide-14 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-4 .u-gallery-item-15 {
   box-shadow: 2px 2px 8px 0px rgba(26, 26, 26, 1);
 }

 .u-section-4 .u-over-slide-15 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-4 .u-gallery-item-16 {
   box-shadow: 2px 2px 8px 0px rgba(26, 26, 26, 1);
 }

 .u-section-4 .u-over-slide-16 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 @media (max-width: 1199px) {
   .u-section-4 .u-sheet-1 {
     min-height: 689px;
   }

   .u-section-4 .u-gallery-1 {
     height: 447px;
   }

   .u-section-4 .u-gallery-inner-1 {
     grid-template-columns: repeat(8, auto);
   }
 }

 @media (max-width: 991px) {
   .u-section-4 .u-sheet-1 {
     min-height: 1018px;
   }

   .u-section-4 .u-gallery-1 {
     height: 1453px;
   }

   .u-section-4 .u-gallery-inner-1 {
     grid-template-columns: repeat(4, auto);
   }
 }

 @media (max-width: 767px) {
   .u-section-4 .u-sheet-1 {
     min-height: 2586px;
   }

   .u-section-4 .u-gallery-1 {
     height: 4503px;
     margin-top: 108px;
   }

   .u-section-4 .u-gallery-inner-1 {
     grid-template-columns: repeat(2, auto);
   }
 }

 @media (max-width: 575px) {
   .u-section-4 .u-sheet-1 {
     min-height: 1715px;
   }

   .u-section-4 .u-gallery-1 {
     height: 11655px;
   }

   .u-section-4 .u-gallery-inner-1 {
     grid-template-columns: repeat(1, auto);
   }
 }

 .u-section-5 {
   background-image: url("images/ashirbadmessAdisaptagramHooghlycollegefreshersparty2023lighting.jpg");
   background-position: 50% 50%;
 }

 .u-section-5 .u-sheet-1 {
   min-height: 1673px;
 }

 .u-section-5 .u-text-1 {
   font-size: 4.5rem;
   width: 403px;
   margin: 121px auto 0;
 }

 .u-section-5 .u-gallery-1 {
   height: 268px;
   margin-top: 440px;
   margin-bottom: 60px;
   grid-gap: 17px 17px;
 }

 .u-section-5 .u-gallery-inner-1 {
   grid-template-columns: repeat(3, auto);
   grid-gap: 17px;
 }

 .u-section-5 .u-over-slide-1 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-5 .u-over-slide-2 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-5 .u-over-slide-3 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 @media (max-width: 1199px) {
   .u-section-5 .u-sheet-1 {
     min-height: 920px;
   }

   .u-section-5 .u-text-1 {
     width: auto;
     margin-top: 236px;
     margin-right: 282px;
     margin-left: 255px;
   }

   .u-section-5 .u-gallery-1 {
     margin-top: 35px;
     height: 220px;
   }
 }

 @media (max-width: 991px) {
   .u-section-5 .u-sheet-1 {
     min-height: 1018px;
   }

   .u-section-5 .u-text-1 {
     margin-top: 907px;
     margin-right: 61px;
     margin-left: 256px;
   }

   .u-section-5 .u-gallery-1 {
     margin-top: -636px;
     height: 529px;
   }

   .u-section-5 .u-gallery-inner-1 {
     grid-template-columns: repeat(2, auto);
   }
 }

 @media (max-width: 767px) {
   .u-section-5 .u-sheet-1 {
     min-height: 2130px;
   }

   .u-section-5 .u-text-1 {
     width: 403px;
     margin-top: 144px;
     margin-left: auto;
     margin-right: auto;
   }

   .u-section-5 .u-gallery-1 {
     margin-top: 532px;
     height: 1214px;
   }

   .u-section-5 .u-gallery-inner-1 {
     grid-template-columns: repeat(1, auto);
   }
 }

 @media (max-width: 575px) {
   .u-section-5 .u-sheet-1 {
     min-height: 1424px;
   }

   .u-section-5 .u-text-1 {
     font-size: 2.25rem;
     width: auto;
     margin-top: 68px;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-5 .u-gallery-1 {
     margin-top: 500px;
     height: 777px;
     margin-bottom: 40px;
   }
 }

 .u-section-6 {
   background-image: url("images/ashirbadmessAdisaptagramHooghlycollegefreshersparty2023pic3.jpg");
   background-position: 50% 50%;
 }

 .u-section-6 .u-sheet-1 {
   min-height: 1149px;
 }

 .u-section-6 .u-gallery-1 {
   width: 617px;
   height: 840px;
   grid-gap: 10px 10px;
   margin: 179px auto 0 86px;
 }

 .u-section-6 .u-carousel-item-1 {
   margin-right: 0;
   box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1);
 }

 .u-section-6 .u-over-slide-1 {
   min-height: 100px;
   padding: 10px;
 }

 .u-section-6 .u-carousel-item-2 {
   margin-right: 0;
   box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1);
 }

 .u-section-6 .u-over-slide-2 {
   min-height: 100px;
   padding: 10px;
 }

 .u-section-6 .u-carousel-item-3 {
   margin-right: 0;
   box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1);
 }

 .u-section-6 .u-over-slide-3 {
   min-height: 100px;
   padding: 10px;
 }

 .u-section-6 .u-carousel-item-4 {
   margin-right: 0;
   box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1);
 }

 .u-section-6 .u-over-slide-4 {
   min-height: 100px;
   padding: 10px;
 }

 .u-section-6 .u-carousel-item-5 {
   margin-right: 0;
   box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1);
 }

 .u-section-6 .u-over-slide-5 {
   min-height: 100px;
   padding: 10px;
 }

 .u-section-6 .u-carousel-item-6 {
   margin-right: 0;
   box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1);
 }

 .u-section-6 .u-over-slide-6 {
   min-height: 100px;
   padding: 10px;
 }

 .u-section-6 .u-carousel-item-7 {
   margin-right: 0;
   box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1);
 }

 .u-section-6 .u-over-slide-7 {
   min-height: 100px;
   padding: 10px;
 }

 .u-section-6 .u-carousel-item-8 {
   margin-right: 0;
   box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1);
 }

 .u-section-6 .u-over-slide-8 {
   min-height: 100px;
   padding: 10px;
 }

 .u-section-6 .u-carousel-item-9 {
   margin-right: 0;
   box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1);
 }

 .u-section-6 .u-over-slide-9 {
   min-height: 100px;
   padding: 10px;
 }

 .u-section-6 .u-carousel-thumbnails-1 {
   padding-top: 10px;
 }

 .u-section-6 .u-carousel-thumbnail-1 {
   width: 100px;
   height: 100px;
 }

 .u-section-6 .u-carousel-thumbnail-2 {
   width: 100px;
   height: 100px;
 }

 .u-section-6 .u-carousel-thumbnail-3 {
   width: 100px;
   height: 100px;
 }

 .u-section-6 .u-carousel-thumbnail-4 {
   width: 100px;
   height: 100px;
 }

 .u-section-6 .u-carousel-thumbnail-5 {
   width: 100px;
   height: 100px;
 }

 .u-section-6 .u-carousel-thumbnail-6 {
   width: 100px;
   height: 100px;
 }

 .u-section-6 .u-carousel-thumbnail-7 {
   width: 100px;
   height: 100px;
 }

 .u-section-6 .u-carousel-thumbnail-8 {
   width: 100px;
   height: 100px;
 }

 .u-section-6 .u-carousel-thumbnail-9 {
   width: 100px;
   height: 100px;
 }

 .u-section-6 .u-carousel-control-1 {
   position: absolute;
   left: 10px;
   width: 40px;
   height: 40px;
   right: auto;
 }

 .u-section-6 .u-carousel-control-2 {
   position: absolute;
   right: 10px;
   width: 40px;
   height: 40px;
 }

 .u-section-6 .u-text-1 {
   text-shadow: 2px 2px 8px rgba(114, 104, 63, 0.4);
   margin: -418px 28px 60px 751px;
 }

 @media (max-width: 1199px) {
   .u-section-6 .u-sheet-1 {
     min-height: 1019px;
   }

   .u-section-6 .u-carousel-thumbnail-1 {
     width: 60px;
     height: 60px;
   }

   .u-section-6 .u-carousel-thumbnail-2 {
     width: 60px;
     height: 60px;
   }

   .u-section-6 .u-carousel-thumbnail-3 {
     width: 60px;
     height: 60px;
   }

   .u-section-6 .u-carousel-thumbnail-4 {
     width: 60px;
     height: 60px;
   }

   .u-section-6 .u-carousel-thumbnail-5 {
     width: 60px;
     height: 60px;
   }

   .u-section-6 .u-carousel-thumbnail-6 {
     width: 60px;
     height: 60px;
   }

   .u-section-6 .u-carousel-thumbnail-7 {
     width: 60px;
     height: 60px;
   }

   .u-section-6 .u-carousel-thumbnail-8 {
     width: 60px;
     height: 60px;
   }

   .u-section-6 .u-carousel-thumbnail-9 {
     width: 60px;
     height: 60px;
   }

   .u-section-6 .u-text-1 {
     margin-top: 20px;
     margin-left: 579px;
     margin-right: -121px;
   }
 }

 @media (max-width: 991px) {
   .u-section-6 .u-sheet-1 {
     min-height: 1020px;
   }

   .u-section-6 .u-text-1 {
     margin-left: 359px;
   }
 }

 @media (max-width: 767px) {
   .u-section-6 .u-gallery-1 {
     width: 540px;
     margin-left: 0;
   }

   .u-section-6 .u-carousel-thumbnail-1 {
     width: 51px;
     height: 51px;
   }

   .u-section-6 .u-carousel-thumbnail-2 {
     width: 51px;
     height: 51px;
   }

   .u-section-6 .u-carousel-thumbnail-3 {
     width: 51px;
     height: 51px;
   }

   .u-section-6 .u-carousel-thumbnail-4 {
     width: 51px;
     height: 51px;
   }

   .u-section-6 .u-carousel-thumbnail-5 {
     width: 51px;
     height: 51px;
   }

   .u-section-6 .u-carousel-thumbnail-6 {
     width: 51px;
     height: 51px;
   }

   .u-section-6 .u-carousel-thumbnail-7 {
     width: 51px;
     height: 51px;
   }

   .u-section-6 .u-carousel-thumbnail-8 {
     width: 51px;
     height: 51px;
   }

   .u-section-6 .u-carousel-thumbnail-9 {
     width: 51px;
     height: 51px;
   }

   .u-section-6 .u-text-1 {
     margin-left: 179px;
   }
 }

 @media (max-width: 575px) {
   .u-section-6 .u-sheet-1 {
     min-height: 672px;
   }

   .u-section-6 .u-gallery-1 {
     margin-top: 44px;
     height: 434px;
     margin-right: initial;
     margin-left: initial;
     width: auto;
   }

   .u-section-6 .u-carousel-thumbnail-1 {
     width: 29px;
     height: 29px;
   }

   .u-section-6 .u-carousel-thumbnail-2 {
     width: 29px;
     height: 29px;
   }

   .u-section-6 .u-carousel-thumbnail-3 {
     width: 29px;
     height: 29px;
   }

   .u-section-6 .u-carousel-thumbnail-4 {
     width: 29px;
     height: 29px;
   }

   .u-section-6 .u-carousel-thumbnail-5 {
     width: 29px;
     height: 29px;
   }

   .u-section-6 .u-carousel-thumbnail-6 {
     width: 29px;
     height: 29px;
   }

   .u-section-6 .u-carousel-thumbnail-7 {
     width: 29px;
     height: 29px;
   }

   .u-section-6 .u-carousel-thumbnail-8 {
     width: 29px;
     height: 29px;
   }

   .u-section-6 .u-carousel-thumbnail-9 {
     width: 29px;
     height: 29px;
   }

   .u-section-6 .u-text-1 {
     width: auto;
     margin: 44px 0 45px -121px;
   }
 }

 .u-section-7 {
   background-image: none;
 }

 .u-section-7 .u-sheet-1 {
   min-height: 5687px;
 }

 .u-section-7 .u-text-1 {
   margin: 60px auto 0;
 }

 .u-section-7 .u-gallery-1 {
   height: 5459px;
   margin-top: 36px;
   margin-bottom: 60px;
   grid-gap: 17px 17px;
 }

 .u-section-7 .u-gallery-inner-1 {
   grid-template-columns: auto;
   grid-gap: 17px 17px;
 }

 .u-section-7 .u-gallery-item-1 {
   box-shadow: 2px 2px 8px 0px rgba(41, 45, 51, 1);
 }

 .u-section-7 .u-over-slide-1 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-7 .u-gallery-item-2 {
   box-shadow: 2px 2px 8px 0px rgba(41, 45, 51, 1);
 }

 .u-section-7 .u-over-slide-2 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-7 .u-gallery-item-3 {
   box-shadow: 2px 2px 8px 0px rgba(41, 45, 51, 1);
 }

 .u-section-7 .u-over-slide-3 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-7 .u-gallery-item-4 {
   box-shadow: 2px 2px 8px 0px rgba(41, 45, 51, 1);
 }

 .u-section-7 .u-over-slide-4 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-7 .u-gallery-item-5 {
   box-shadow: 2px 2px 8px 0px rgba(41, 45, 51, 1);
 }

 .u-section-7 .u-over-slide-5 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-7 .u-gallery-item-6 {
   box-shadow: 2px 2px 8px 0px rgba(41, 45, 51, 1);
 }

 .u-section-7 .u-over-slide-6 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 @media (max-width: 1199px) {
   .u-section-7 .u-sheet-1 {
     min-height: 721px;
   }

   .u-section-7 .u-gallery-1 {
     height: 4516px;
   }

   .u-section-7 .u-gallery-inner-1 {
     grid-template-columns: repeat(1, auto);
   }
 }

 @media (max-width: 991px) {
   .u-section-7 .u-sheet-1 {
     min-height: 1018px;
   }

   .u-section-7 .u-gallery-1 {
     height: 3479px;
   }
 }

 @media (max-width: 767px) {
   .u-section-7 .u-sheet-1 {
     min-height: 2586px;
   }

   .u-section-7 .u-gallery-1 {
     height: 2631px;
   }
 }

 @media (max-width: 575px) {
   .u-section-7 .u-sheet-1 {
     min-height: 1715px;
   }

   .u-section-7 .u-gallery-1 {
     height: 1688px;
   }
 }

 .u-section-8 {
   background-image: none;
 }

 .u-section-8 .u-sheet-1 {
   min-height: 816px;
 }

 .u-section-8 .u-layout-wrap-1 {
   width: 374px;
   margin: 70px auto 0 0;
 }

 .u-section-8 .u-layout-cell-1 {
   min-height: 698px;
 }

 .u-section-8 .u-container-layout-1 {
   padding: 20px;
 }

 .u-section-8 .u-layout-wrap-2 {
   width: 698px;
   margin: -685px 14px 42px auto;
 }

 .u-section-8 .u-layout-cell-2 {
   min-height: 355px;
 }

 .u-section-8 .u-container-layout-2 {
   padding: 20px;
 }

 .u-section-8 .embed-responsive-2 {
   position: absolute;
   width: 178%;
   left: -39%;
   height: 178%;
   top: -39%;
 }

 .u-section-8 .u-layout-cell-3 {
   min-height: 358px;
 }

 .u-section-8 .u-container-layout-3 {
   padding: 20px;
 }

 .u-section-8 .embed-responsive-3 {
   position: absolute;
   width: 178%;
   left: -39%;
   height: 178%;
   top: -39%;
 }

 .u-section-8 .u-text-1 {
   width: auto;
   margin: -1272px -67px 60px auto;
 }

 @media (max-width: 1199px) {
   .u-section-8 .u-layout-wrap-1 {
     margin-top: 60px;
   }

   .u-section-8 .u-layout-wrap-2 {
     width: 507px;
     margin-top: -668px;
     margin-right: 20px;
     margin-bottom: 60px;
   }

   .u-section-8 .u-layout-cell-2 {
     min-height: 354px;
   }

   .u-section-8 .u-layout-cell-3 {
     min-height: 356px;
   }
 }

 @media (max-width: 991px) {
   .u-section-8 .u-container-layout-1 {
     padding-left: 30px;
     padding-right: 30px;
   }

   .u-section-8 .u-layout-wrap-2 {
     width: 680px;
     margin-top: 20px;
     margin-right: auto;
     margin-bottom: 0;
   }

   .u-section-8 .u-layout-cell-2 {
     min-height: 352px;
   }

   .u-section-8 .u-layout-cell-3 {
     min-height: 354px;
   }

   .u-section-8 .u-text-1 {
     margin-top: -1176px;
     margin-right: 42px;
   }
 }

 @media (max-width: 767px) {
   .u-section-8 .u-sheet-1 {
     min-height: 2182px;
   }

   .u-section-8 .u-layout-wrap-1 {
     margin-top: 42px;
   }

   .u-section-8 .u-layout-cell-1 {
     min-height: 656px;
   }

   .u-section-8 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-8 .u-layout-wrap-2 {
     margin-top: 152px;
     margin-right: initial;
     margin-left: initial;
     width: auto;
   }

   .u-section-8 .u-layout-cell-2 {
     min-height: 279px;
   }

   .u-section-8 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-8 .u-layout-cell-3 {
     min-height: 281px;
   }

   .u-section-8 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-8 .u-text-1 {
     margin-top: -625px;
     margin-right: 60px;
   }
 }

 @media (max-width: 575px) {
   .u-section-8 .u-sheet-1 {
     min-height: 928px;
   }

   .u-section-8 .u-layout-wrap-1 {
     width: 271px;
     margin-right: 0;
     margin-left: auto;
   }

   .u-section-8 .u-layout-cell-1 {
     min-height: 456px;
   }

   .u-section-8 .u-layout-wrap-2 {
     margin-top: 69px;
     margin-bottom: 60px;
     width: auto;
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-8 .u-layout-cell-2 {
     min-height: 176px;
   }

   .u-section-8 .u-layout-cell-3 {
     min-height: 177px;
   }

   .u-section-8 .u-text-1 {
     margin-top: -553px;
   }
 }

 .u-section-9 {
   background-image: none;
 }

 .u-section-9 .u-sheet-1 {
   min-height: 1619px;
 }

 .u-section-9 .u-video-1 {
   height: 360px;
   width: 640px;
   margin: 37px auto 0 41px;
 }

 .u-section-9 .embed-responsive-1 {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
 }

 .u-section-9 .u-text-1 {
   margin: -331px 22px 0 725px;
 }

 .u-section-9 .u-video-2 {
   height: 360px;
   width: 640px;
   margin: 158px 29px 0 auto;
 }

 .u-section-9 .embed-responsive-2 {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
 }

 .u-section-9 .u-text-2 {
   margin: -329px 736px 0 58px;
 }

 .u-section-9 .u-video-3 {
   height: 360px;
   width: 640px;
   margin: 224px auto 0 41px;
 }

 .u-section-9 .embed-responsive-3 {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
 }

 .u-section-9 .u-text-3 {
   margin: 67px 90px 0 auto;
 }

 .u-section-9 .u-text-4 {
   font-size: 3rem;
   font-weight: 700;
   margin: 26px 22px 60px 438px;
 }

 .u-section-9 .u-btn-1 {
   background-image: none;
   padding: 0;
 }

 @media (max-width: 1199px) {
   .u-section-9 .u-sheet-1 {
     min-height: 2294px;
   }

   .u-section-9 .u-video-1 {
     width: 617px;
     margin-top: 22px;
   }

   .u-section-9 .embed-responsive-1 {
     width: 178%;
     height: 178%;
     left: -39%;
     top: -39%;
   }

   .u-section-9 .u-text-1 {
     width: auto;
     margin-top: 67px;
     margin-right: 202px;
     margin-left: 346px;
   }

   .u-section-9 .u-video-2 {
     margin-top: 67px;
     margin-right: 26px;
   }

   .u-section-9 .u-text-2 {
     width: auto;
     margin-top: 77px;
     margin-right: 504px;
     margin-left: 90px;
   }

   .u-section-9 .u-video-3 {
     margin-top: 113px;
     margin-right: 130px;
     margin-left: auto;
   }

   .u-section-9 .u-text-3 {
     width: auto;
     margin-top: 140px;
   }

   .u-section-9 .u-text-4 {
     width: 680px;
     margin-top: 67px;
     margin-right: 0;
     margin-left: 260px;
   }
 }

 @media (max-width: 991px) {
   .u-section-9 .u-text-1 {
     width: 392px;
     margin-top: 43px;
     margin-left: auto;
     margin-right: auto;
   }

   .u-section-9 .u-video-2 {
     margin-top: 44px;
   }

   .u-section-9 .u-text-2 {
     margin-top: 71px;
     margin-right: 219px;
     margin-left: 155px;
   }

   .u-section-9 .u-video-3 {
     margin-top: 62px;
     margin-right: 80px;
   }

   .u-section-9 .u-text-4 {
     margin-left: 40px;
   }
 }

 @media (max-width: 767px) {
   .u-section-9 .u-sheet-1 {
     min-height: 1630px;
   }

   .u-section-9 .u-video-1 {
     height: 300px;
     margin-top: 121px;
     margin-right: initial;
     margin-left: initial;
     width: auto;
   }

   .u-section-9 .embed-responsive-1 {
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
   }

   .u-section-9 .u-text-1 {
     margin-top: -1033px;
   }

   .u-section-9 .u-video-2 {
     height: 309px;
     margin-top: 896px;
     margin-right: initial;
     margin-left: initial;
     width: auto;
   }

   .u-section-9 .u-text-2 {
     width: 346px;
     margin-top: -1086px;
     margin-left: auto;
     margin-right: auto;
   }

   .u-section-9 .u-video-3 {
     height: 304px;
     width: 540px;
     margin-top: 983px;
     margin-right: auto;
     margin-left: -11px;
   }

   .u-section-9 .u-text-3 {
     margin-top: 70px;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-9 .u-text-4 {
     width: auto;
     margin-top: 35px;
     margin-right: 11px;
     margin-left: -11px;
   }
 }

 @media (max-width: 575px) {
   .u-section-9 .u-sheet-1 {
     min-height: 1490px;
   }

   .u-section-9 .u-video-1 {
     height: 190px;
     margin-top: 440px;
     width: auto;
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-9 .u-text-1 {
     width: auto;
     margin-top: -577px;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-9 .u-video-2 {
     height: 191px;
     margin-top: 766px;
     width: auto;
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-9 .u-text-2 {
     width: auto;
     margin-top: -904px;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-9 .u-video-3 {
     height: 191px;
     margin-top: 296px;
     margin-right: initial;
     margin-left: initial;
     width: auto;
   }

   .u-section-9 .u-text-3 {
     margin-top: 297px;
     margin-right: auto;
     margin-left: 18px;
   }

   .u-section-9 .u-text-4 {
     margin-top: 45px;
     margin-left: 0;
     margin-right: 0;
   }
 }